<template>
  <Layout>
    <div v-show="$page && $page.app">
      <!-- {{ $page.app }} -->
      <v-img :src="$page.app.imagem" height="40vh" />
      <v-container class="container">
        <h1 class="title text-uppercase">{{ $page.app.nome }}</h1>
        <div v-html="$page.app.content" />
        <v-row justify="center" class="py-12" v-show="$page.app.cursoLink">
          <v-btn
            link
            dark
            target="_blank"
            color="orange"
            :href="$page.app.cursoLink"
          >
            Aprender mais
          </v-btn>
        </v-row>
        <hr />
        <h2 class="title text-uppercase text-center">Usar</h2>
        <v-col cols="12">
          <v-row justify="center">
            <v-col cols="12" class="pb-8" v-show="$page.app.link">
              <v-btn
                width="100%"
                :block="mobile"
                :href="$page.app.link"
                link
                target="_blank"
                color="secondary"
              >
                Online
                <v-icon>mdi-web</v-icon>
              </v-btn>
            </v-col>
            <v-col cols="12" sm="6">
              <v-btn
                v-show="hasDirectDownload"
                width="100%"
                :block="mobile"
                v-if="!other"
                :href="$page.app[downloadLink]"
                link
                dark
                target="_blank"
                color="cyan"
              >
                baixar {{ selectedDownload }}
                <v-icon>mdi-download</v-icon>
              </v-btn>
              <v-select
                width="100%"
                v-else
                v-model="selectedDownload"
                @change="selectedSystem"
                label="Baixar para"
                :items="systemNames"
                outlined
                :menu-props="{ light: true }"
              />
            </v-col>
            <v-col cols="12" sm="6">
              <v-btn
                v-show="hasDirectDownload && systemList.length > 1"
                width="100%"
                :block="mobile"
                v-if="!other"
                text
                @click="other = true"
                class="caption"
                >Outro dispositivo</v-btn
              >
            </v-col>
            <v-col cols="12" sm="6" class="text-center mx-auto">
              <a target="_blank" width="100%" :href="$page.app.googlePlay" v-show="$page.app.googlePlay">
                <g-image src="~/assets/disponivel-no-google-play.png" width="200" />
              </a>
            </v-col>
            <v-col cols="12" sm="6" class="text-center mx-auto">
              <a target="_blank" width="100%" :href="$page.app.appStore" v-show="$page.app.appStore">
                <g-image src="~/assets/disponivel-na-app-store.png" width="200" />
              </a>
            </v-col>
          </v-row>
        </v-col>
      </v-container>
    </div>
  </Layout>
</template>
<page-query>
query App ($id: ID!) {
  app (id: $id) {
    id
    path
    content
    excerpt
    nome
    data
    link
    apenasLink
    cursoLink
    appStore
    googlePlay
    downloadAndroid
    downloadWin
    downloadWin32
    downloadMac
    downloadLinux
    publicado
    categoria
    imagem
  }
}
</page-query>
<script>
export default {
  data() {
    return {
      loaded: false,
      other: false,
      systemIsAvailable: false,
      selectedDownload: "Android",
      downloadLink: "downloadAndroid",
      systemList: []
    };
  },
  computed: {
    mobile() {
      return this.$vuetify.breakpoint.xs;
    },
    hasDirectDownload() {
      if (
        this.$page.app.downloadLinux ||
        this.$page.app.downloadAndroid ||
        this.$page.app.downloadWin ||
        this.$page.app.downloadWin32 ||
        this.$page.app.downloadMac
      )
        return true;
      else return false;
    },
    systemNames() {
      return this.systemList.map(i => i.system);
    }
  },
  mounted() {
    const {
      downloadLinux,
      downloadAndroid,
      downloadWin,
      downloadWin32,
      downloadMac
    } = this.$page.app;
    if (downloadLinux)
      this.systemList.push({
        system: "Linux",
        link: "downloadLinux"
      });
    if (downloadAndroid)
      this.systemList.push({
        system: "Android",
        link: "downloadAndroid"
      });
    if (downloadWin)
      this.systemList.push({
        system: "Windows 64",
        link: "downloadWin"
      });
    if (downloadWin32)
      this.systemList.push({
        system: "Windows 32",
        link: "downloadWin32"
      });
    if (downloadMac)
      this.systemList.push({
        system: "Mac",
        link: "downloadMac"
      });

    if (window) {
      console.log("WINDOW", window.clientInformation.platform);
      switch (window.clientInformation.platform) {
        case "Linux x86_64":
          const isAvailable =
            this.systemList.findIndex(i => i.link === "downloadLinux") !== -1;
          this.systemIsAvailable = isAvailable;
          if (isAvailable) {
            this.selectedDownload = "Linux";
            this.downloadLink = "downloadLinux";
          } else {
            defaultDownload();
          }
          return;
        default:
          defaultDownload();
          return;
      }
    }
  },
  methods: {
    selectedSystem() {
      this.other = false;
    },
    defaultDownload() {
      const androidAvailable =
        this.systemList.findIndex(i => i.link === "downloadLinux") !== -1;
      this.selectedDownload = androidAvailable
        ? "Android"
        : this.systemList[0].system;
      this.downloadLink = androidAvailable
        ? "downloadAndroid"
        : this.systemList[0].link;
    }
  }
};
</script>
<style scoped>
.container {
  padding: 30px 50px;
  max-width: 968px;
}
</style>
