<template>
  <Layout>
    <div>
      <div class="content" v-show="$page && $page.welcome">
        <div class="site-title">
          <h1 class="title text-center text-uppercase">
            {{ $page.welcome.titulo }}
          </h1>
        </div>
        <div class="info-button" v-show="$page.welcome.comoUsarLink">
          <v-btn
            block
            link
            dark
            color="primary"
            target="_blank"
            :href="$page.welcome.comoUsarLink"
          >
            Como usar
          </v-btn>
        </div>
        <v-carousel
          cycle
          :height="$vuetify.breakpoint.xs ? '300px' : '80vh'"
          hide-delimiter-background
          show-arrows-on-hover
        >
          <v-carousel-item
            v-for="(image, key) in $page.welcome.imagens"
            :key="key"
          >
            <v-img :src="image.title" />
          </v-carousel-item>
        </v-carousel>
        <div class="py-12 content-container" v-html="$page.welcome.content" />
      </div>
      <div class="apps pb-12" v-show="$page.apps">
        <AppList :apps="$page.apps.edges" />
      </div>
      <div v-show="$page.lugares" class="pt-12" style="background: #d9534f;">
        <CommunityMap
          :height="mobile ? '200px' : '500px'"
          class="map"
          :places="$page.lugares.edges"
          buttonLink="/mapa"
        />
      </div>
      <v-footer dark color="#d9534f" class="text-center mx-auto">
        <span style="margin: 0 auto">
          Criado com ❤ por
          <a href="https://www.coolab.org/" style="color: white">Coolab</a>.
        </span>
      </v-footer>
    </div>
  </Layout>
</template>
<page-query>
query {
  welcome: bemVindo(path: "/conteudo/bem-vindo/") {
    content
    titulo
    comoUsarLink
    imagens {
      id
      title
    }
  }
  apps: allApp(filter: { publicado: { eq: true }}) {
    edges {
      node {
        id
        content
        nome
        primeiro
        data
        link
        cursoLink
        apenasLink
        appStore
        googlePlay
        downloadAndroid
        downloadWin
        downloadWin32
        downloadMac
        downloadLinux
        publicado
        categoria
        imagem
      }
    }
  }
  lugares: allLugar(filter: { publicado: { eq: true }}) {
    edges {
      node {
        id
        path
        content
        excerpt
        nome
        data
        publicado
        categorias {
          id
          title
        }
        imagem
        coords
        descricao
      }
    }
  }
}
</page-query>

<script>
// @ is an alias to /src
import AppList from "@/components/AppList.vue";
import CommunityMap from "@/components/CommunityMap.vue";

export default {
  name: "BemVindo",
  components: {
    AppList,
    CommunityMap
  },
  computed: {
    mobile() {
      return this.$vuetify.breakpoint.xs;
    }
  }
};
</script>
<style scoped>
.site-title {
  position: absolute;
  top: 3vh;
  text-align: center;
  width: 50vw;
  left: 25vw;
  right: 25vw;
  z-index: 999;
  margin: 0 auto;
  border-bottom: 4px solid white;
}
.site-title h1 {
  font-size: 1em !important;
  color: white;
  text-shadow: 3px 5px 20px rgba(0, 0, 0, 0.9);
}
.info-button {
  z-index: 999;
  position: relative;
  top: 180px;
  height: 50px;
  max-width: 200px;
  margin: 0 auto -50px;
}
.content {
  margin: 0 auto;
  text-align: center;
  padding: 0 0 8vh;
  background: #dad4ba;
}
.content-container {
  max-width: 90%;
  margin: 0 auto;
}
.apps {
  background: #d9534f;
}
@media screen and (min-width: 720px) {
  .site-title {
    top: 15vh;
  }
  .site-title h1 {
    font-size: 3em !important;
  }
  .info-button {
    top: 64vh;
  }
}
@media screen and (min-width: 1024px) {
  .content-container {
    max-width: 968px;
  }
}
</style>
