<template>
  <Layout>
    <div v-show="$page && $page.lugares">
      <CommunityMap
        height="98vh"
        class="map"
        v-show="$page && $page.lugares"
        :places="$page ? $page.lugares.edges : []"
        buttonText="Voltar"
        buttonLink="/"
      />
      <!-- TODO: Remove if NATIVE_LANDS if false -->
      <v-footer height="1.5vh">
        Dados do projeto&nbsp;

        <a href="https://native-land.ca/" target="_blank">native-land.ca</a>
      </v-footer>
    </div>
  </Layout>
</template>

<page-query>
query {
  lugares: allLugar(filter: { publicado: { eq: true }}) {
    edges {
      node {
        id
        path
        content
        excerpt
        nome
        data
        publicado
        categorias {
          id
          title
        }
        imagem
        coords
        descricao
      }
    }
  }
}
</page-query>

<script>
// @ is an alias to /src
import CommunityMap from "@/components/CommunityMap.vue";

export default {
  name: "map",
  components: {
    CommunityMap
  },
  mounted() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(position => {
        this.position = position.coords;
      });
    }
  }
};
</script>
<style scoped>
.map {
  margin-top: -25px;
}
</style>
