<template>
  <v-card
    @click="openAppPage"
    class="mx-auto"
    width="100%"
    outlined
    ripple
    :height="mobile ? 'auto' : '280px'"
  >
    <v-row>
      <v-col class="py-0" cols="12" sm="6" md="4">
        <v-img
          class="white--text align-end"
          :src="data.imagem"
          :height="mobile ? 'auto' : '280px'"
        ></v-img>
      </v-col>
      <v-col cols="12" sm="6" md="8">
        <v-card-title class="text-uppercase">{{ data.nome }}</v-card-title>
        <v-card-text class="text--primary">
          <div v-html="data.content" />
        </v-card-text>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  name: "AppCard",
  props: {
    data: {
      type: Object
    }
  },
  data() {
    return {
      other: false,
      selectedDownload: "Android",
      downloadLink: "downloadAndroid",
      systemList: ["Android", "iOS", "Windows 64", "Windows 32", "Mac", "Linux"]
    };
  },
  computed: {
    mobile() {
      return this.$vuetify.breakpoint.xs;
    }
  },
  methods: {
    selectedSystem() {
      this.other = false;
    },
    openAppPage() {
      if (this.data.apenasLink) {
        location.replace(this.data.link); // Abrir em tab novo
      } else {
        this.$router.push(`/${this.data.id}`);
      }
    }
  }
};
</script>
<style scoped></style>
