<template>
  <div class="list-container">
    <div v-for="category in categories" :key="category.names">
      <h3 class="text-center py-6 title text-uppercase">
        {{ category.name }}
      </h3>
      <v-row>
        <v-col v-for="app in category.apps" :key="app.node.id" cols="12" md="6">
          <AppCard :data="app.node" />
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import AppCard from "@/components/AppCard";
export default {
  name: "AppList",
  props: {
    apps: { type: Array, default: [] }
  },
  components: {
    AppCard
  },
  computed: {
    mobile() {
      return this.$vuetify.breakpoint.xs;
    },
    categories() {
      const res = this.apps
        .sort(a => a.primeiro)
        .reduce((prev, curr) => {
          if (prev.findIndex(a => a.name === curr.node.categoria) === -1) {
            let newArr = prev.concat({
              name: curr.node.categoria,
              apps: this.apps.filter(
                app => app.node.categoria === curr.node.categoria
              )
            });
            return newArr;
          }
          return prev;
        }, []);
      return res.sort(a => a.apps.findIndex(a => a.node.primeiro)).reverse();
    }
  }
};
</script>
<style scoped>
h3 {
  margin: 0 auto;
  color: white;
}
@media screen and (min-width: 1480px) {
  .list-container {
    max-width: 1400px;
    margin: 0 auto;
  }
}
</style>
