<template>
  <v-container>
    <v-app-bar app color="primary" dark>
      <v-app-bar-nav-icon v-show="mobile" @click.stop="toggleBarraLateral" />
      <v-app-bar-nav-icon
        class="ml-2"
        v-if="isBack"
        @click="$router.push('/catalogo')"
      >
        <v-icon>mdi-keyboard-backspace</v-icon>
      </v-app-bar-nav-icon>
      <v-toolbar-title v-else>{{
        this.$static.metadata.siteName
      }}</v-toolbar-title>
    </v-app-bar>
    <v-navigation-drawer
      :temporary="mobile"
      v-model="drawer"
      app
      :permanent="!mobile"
    >
      <v-list v-for="route in routes" :key="route.title" dense>
        <v-list-item link @click="changeRoute(route.route)">
          <v-list-item-action>
            <v-icon>{{ route.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ route.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-container>
</template>
<static-query>
query {
  metadata {
    intranet
    siteName
  }
}
</static-query>
<script>
export default {
  name: "BarraLateral",
  data: () => ({
    drawer: null,
    isBack: false
  }),
  computed: {
    routes: function() {
      let routes = [
        {
          title: "Rede Social",
          icon: "mdi-fire",
          route: "http://social.com"
        },
        {
          title: "Filmes e Músicas",
          icon: "mdi-film",
          route: "http://pyt.com"
        },
        {
          title: "Cursos",
          icon: "mdi-school",
          route: "http://escola.com"
        },
        // {

        //   title: "Mercado Local",
        //   icon: "mdi-shopping",
        //   route: "/catalogo"
        // },
        {
          title: "Mapa",
          icon: "mdi-map",
          route: "/mapa"
        },
        {
          title: "Jornal",
          icon: "mdi-book",
          route: "/jornal"
        },
        {
          title: "Sobre",
          icon: "mdi-information",
          route: "/sobre"
        }
      ];
      if (this.$static.metadata.intranet == "true") {
        routes.splice(0, 0, {
          title: "Aplicativos",
          icon: "mdi-apps",
          route: "/"
        });
        // routes.splice(3 ,0, {
        //   title: "Internet",
        //   icon: "mdi-web",
        //   route: "http://rede.com/portal"
        // });
      }
      return routes;
    },
    mobile() {
      return this.$vuetify.breakpoint.xs;
    }
  },
  mounted() {
    if (this.$route.params.id) {
      this.isBack = true;
    }
  },
  methods: {
    toggleBarraLateral() {
      this.drawer = !this.drawer;
    },
    changeRoute(route) {
      const isExternal = route.includes("http://");
      if (this.mobile) this.toggleBarraLateral();
      if (isExternal) window.open(route);
      else this.$router.push(route);
    }
  }
};
</script>
