<template>
  <div class="map" :style="{ height }">
    <div class="button">
      <v-btn class="z-max" color="primary" :to="buttonLink">
        {{ buttonText }}
      </v-btn>
    </div>
    <ClientOnly>
      <MglMap
        :mapStyle="mapStyle"
        :accessToken="accessToken.length > 0 ? accessToken : null"
        :center="center"
        :zoom="$static.metadata.minZoom || 15"
        :minZoom="$static.metadata.minZoom || 15"
        :maxZoom="$static.metadata.maxzoom || 19"
        :maxBounds="maxBounds"
        :attributionControl="false"
      >
        <MglNavigationControl position="top-right" />
        <!-- <MglGeolocateControl position="top-right" :trackUserLocation="true" /> -->
        <MglMarker
          v-for="marker in markers"
          :key="marker.id"
          :coordinates="marker.coords"
          @mouseenter="handleEnter"
        >
          <div slot="marker" class="marker">
            <span>
              <v-icon :color="marker.color" size="22">{{ marker.icon }}</v-icon>
            </span>
          </div>
          <MglPopup :offset="35" anchor="bottom" class="popup">
            <div class="caption">
              <h3>{{ marker.nome }}</h3>
              <g-image
                :alt="marker.nome"
                v-show="marker.imagem"
                :src="marker.imagem || ''"
              />
              <!-- <p>{{ marker.descricao }}</p> -->
              <!-- <v-icon
                v-for="category in marker.allCat"
                :color="category.color"
                :key="category.id"
                size="22"
                class="pl-2"
                >{{ category.icon }}</v-icon
              > -->
            </div>
          </MglPopup>
        </MglMarker>
        <!-- TODO: Remove if NATIVE_LANDS if false -->
        <MglGeojsonLayer
          sourceId="native_land"
          :source="nativeGeoJsonSource"
          layerId="layer_native_land"
          :layer="nativeGeoJsonlayer"
          @mousemove="layerHover"
          @mouseleave="layerLeave"
          @mousedown="layerClick"
        />
        <MglGeojsonLayer
          sourceId="native_land_names"
          :source="nativeGeoJsonSource"
          layerId="layer_native_land_name"
          :layer="nativeGeoJsonlayerName"
        />
        <MglGeojsonLayer
          sourceId="ti_kraho"
          :source="geoJsonSource"
          layerId="layer_kraho"
          :layer="geoJsonlayer"
        />
      </MglMap>
    </ClientOnly>
  </div>
</template>

<static-query>
  query {
    metadata {
      maxZoom
      minZoom
      maxCoords
      minCoords
      mapCenter
      mapboxAccessToken
    }
  }
</static-query>

<script>
import placeHelper from "~/lib/place-category-helper";

export default {
  components: {
    MglMap: () => {
      if (process.isClient) {
        return import("vue-mapbox")
          .then(m => m.MglMap)
          .catch();
      }
    },
    MglMarker: () => {
      if (process.isClient) {
        return import("vue-mapbox")
          .then(m => m.MglMarker)
          .catch();
      }
    },
    MglPopup: () => {
      if (process.isClient) {
        return import("vue-mapbox")
          .then(m => m.MglPopup)
          .catch();
      }
    },
    MglGeojsonLayer: () => {
      if (process.isClient) {
        return import("vue-mapbox")
          .then(m => m.MglGeojsonLayer)
          .catch();
      }
    },
    MglNavigationControl: () => {
      if (process.isClient) {
        return import("vue-mapbox")
          .then(m => m.MglNavigationControl)
          .catch();
      }
    }
  },
  props: {
    places: { type: Array, default: [] },
    height: { type: String, default: "500px" },
    buttonLink: { type: String, default: "/mapa" },
    buttonText: { type: String, default: "Ver" }
  },
  data() {
    return {
      map: null,
      hoveredStateId: null,
      defaultCoord: [-47.46, -14.06],
      nativeGeoJsonSource: {
        type: "geojson",
        data: "/geojson/territories.geojson",
        generateId: true
      },
      nativeGeoJsonlayerName: {
        id: "layer_native_land_name",
        type: "symbol",
        layout: {
          "text-field": ["get", "Name"],
          "text-font": ["DIN Offc Pro Medium", "Arial Unicode MS Bold"],
          "text-size": 16
          // "text-halo-blur": 4,
          // "text-color": "#000"
        }
      },
      nativeGeoJsonlayer: {
        id: "layer_native_land",
        type: "fill",
        paint: {
          "fill-opacity": [
            "case",
            ["boolean", ["feature-state", "hover"], false],
            0.9,
            0.4
          ],
          "fill-color": ["get", "color"]
        }
      },
      geoJsonSource: {
        type: "geojson",
        data: "/geojson/ti_kraho.geojson"
      },
      geoJsonlayer: {
        id: "terra_kraho_layer",
        type: "line",
        paint: {
          "line-color": "red",
          "line-width": 4
        }
      }
    };
  },
  computed: {
    center() {
      return this.$static.metadata.mapCenter || defaultCoord;
    },
    maxBounds() {
      const maxBound = [
        this.$static.metadata.minCoords || defaultCoord,
        this.$static.metadata.maxCoords || defaultCoord
      ];
      // return maxBound
      return null;
    },
    accessToken() {
      return this.$static.metadata.mapboxAccessToken || "";
    },
    mapStyle() {
      /* TODO: Add logic to check if style or tile_server env var have been set */
      return "mapbox://styles/mapbox/satellite-streets-v11";
      // Self-hosted tiles
      // return {
      //   version: 8,
      //   sources: {
      //     "simple-tiles": {
      //       type: "raster",
      //       tiles: [
      //         `${this.$static.metadata.tileServer ||
      //           "http://127.0.0.1:3000"}/{z}/{x}/{y}.jpeg`
      //       ],
      //       tileSize: 256
      //     }
      //   },
      //   layers: [
      //     {
      //       id: "simple-tiles",
      //       type: "raster",
      //       source: "simple-tiles",
      //       minzoom: this.$static.metadata.minZoom || 10,
      //       maxzoom: this.$static.metadata.maxZoom || 16
      //     }
      //   ]
      // }
    },
    markers() {
      const markers = this.places.map(i => {
        const mainCategory = i.node.categorias[0].title;
        const style = placeHelper(mainCategory);
        const allCat = i.node.categorias.map(c => {
          return {
            ...placeHelper(c.title),
            title: c.id
          };
        });
        return {
          ...i.node,
          icon: style.icon,
          allCat,
          color: style.color,
          coords: i.node.coords.map(c => {
            return parseFloat(c);
          })
        };
      });
      return markers;
    }
  },
  mounted() {
    window.mapboxgl = require("mapbox-gl");
    this.map = new window.mapboxgl.Map(this.mapStyle);
  },
  methods: {
    handleEnter({ map, marker }) {
      // map.easeTo({ center: marker._lngLat, zoom: this.$static.metadata.maxZoom, offset: [0, 300] });
    },
    layerHover({ mapboxEvent, map }) {
      if (mapboxEvent.features.length > 0) {
        if (this.hoveredStateId) {
          map.setFeatureState(
            { source: "native_land", id: this.hoveredStateId },
            { hover: false }
          );
        }
        this.hoveredStateId = mapboxEvent.features[0].id;
        map.setFeatureState(
          { source: "native_land", id: this.hoveredStateId },
          { hover: true }
        );
      }
    },
    layerLeave({ mapboxEvent, map }) {
      if (this.hoveredStateId) {
        map.setFeatureState(
          { source: "native_land", id: this.hoveredStateId },
          { hover: false }
        );
      }
      this.hoveredStateId = null;
    },
    layerClick({ mapboxEvent }) {
      const url = mapboxEvent.features[0].properties.description;
      const win = window.open(url, "_blank");
      win.focus();
    }
  }
};
</script>
<style>
.map,
map {
  background: grey;
  width: 100%;
}
.marker {
  width: 0;
  height: 0;
}

.marker span {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  color: #000;
  background: #fff;
  border: solid 2px;
  border-radius: 0 70% 70%;
  box-shadow: 0 0 2px #000;
  cursor: pointer;
  transform-origin: 0 0;
  transform: rotateZ(-135deg);
}
.marker span * {
  transform: rotateZ(135deg);
}
.popup {
  z-index: 999;
}
.button {
  position: absolute;
  bottom: 50px;
  right: 45vw;
  left: 45vw;
  width: 45vw;
}
.z-max {
  z-index: 99;
}
</style>
