<template>
  <v-app id="inspire">
    <v-app-bar app color="primary" dark v-if="isBack">
      <v-app-bar-nav-icon class="ml-2" v-if="isBack" @click="$router.push('/')">
        <v-icon>mdi-keyboard-backspace</v-icon>
      </v-app-bar-nav-icon>
    </v-app-bar>
    <!-- <BarraLateral /> -->
    <v-main>
      <slot />
    </v-main>
  </v-app>
</template>
<script>
import BarraLateral from "~/components/BarraLateral.vue";

export default {
  components: {
    BarraLateral
  },
  data: () => ({
    isBack: false
  }),
  mounted() {
    if (this.$route.params.id) {
      this.isBack = true;
    }
  }
};
</script>

<style lang="scss"></style>
